.popup__fieldset {
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 430px;
  box-sizing: border-box;
  border: 0;
  padding-bottom: 30px;
  padding-left: 36px;
  padding-right: 36px;
}

.popup__fieldset:nth-of-type(2) {
  border-radius: 10px 10px 0 0;
}

.popup__fieldset:last-of-type {
  padding-top: 18px;
  padding-bottom: 37px;
  border-radius: 0 0 10px 10px;
}

@media all and (max-width: 625px) {
  .popup__fieldset{
    width: 238px;
    padding-left: 0;
    padding-right: 0;
  }
}
