.root {
  background: #000;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  display: grid;
  color: #fff;
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  grid-template-columns: 1fr minmax(min-content, 880px) 1fr;
  grid-template-areas:
  ". header ."
  ". profile ."
  ". content ."
  ". footer .";
}
